version: "3.9"

services:
  api:
    image: node:20-alpine
    container_name: url-shortener-api
    working_dir: /app
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3100:3100"
    command: sh -c "npm install && npm run dev"
